*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

ul li{
    background-color: lightblue;
    float:left;
    width: 33.3%;
    padding: 10px;
    border-right: 4px yellow solid;
}

ul li a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}
ul li:last-child{
    border-right: none;
}

ul li:hover{
    background-color: blue;
}

@media only screen and (min-width: 500px)
{
    ul li{
        float: none;
        border-right: none;
        border-bottom: 4px black solid;
        position: relative;
        left: -150px;
        transition: left 2s;
    }

    ul li:last-child{
        border-bottom: none;
    }

    ul li:hover{
        left:0px;
    }
}